:root {
    --main-font: Helvetica, Arial, sans-serif;
    --link-color: #0087ff;
    --link-hover-color: #55b6ff;
    --static-color: #333;
}

body {
    background-color: #555;
    font-family: var(--main-font); 
    font-weight: lighter;
    margin: 0px; 
    padding: 20px 20px 200px 20px;
}

a {
    text-decoration: none; 
    color: inherit; 
    border-bottom: 1px dotted;
}

a:hover, .tool-box a:hover {
    
    color: var(--link-hover-color); 
    border-color: var(--link-hover-color);
}

h1, h2, h3, h4, h5 {
    color: var(--static-color); 
}

h1 {
    font-size: 68px; 
    margin: 30px 0px 20px 0px;
}

h4, h5 {
    margin: 4px 0px;
}

h5 {
    font-weight: lighter; 
    text-transform: uppercase;
}

.container, header {
    max-width: 870px; 
    margin: 0px auto; 
    overflow: auto; 
    padding: 20px 0px; 
    text-align: center;
}

header {
    margin-top: 10px;
}

*:focus {
    outline: 0;
}

.span1 {
    max-width: 48%; 
    display: inline-block; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    padding-right: 18px; 
    vertical-align: top;
}

.span1:last-child {
    padding-right: 0px;
}

#info a img {
    border: 0; text-decoration: none;
}

ul.nav {
    list-style: none; 
    margin: 0px; 
    padding: 0px; 
    color: var(--static-color); 
}

ul.nav li {
    display: inline; 
    font-size: 12px; 
    letter-spacing: .1em; 
    text-transform: uppercase; 
    padding-right: 4px;
}

ul.nav a {
    color: var(--link-color); 
    border-bottom: 1px dotted var(--link-color);
}

ul.nav a:hover {
    color: var(--link-hover-color); 
    border-color: var(--link-hover-color);
}

#info, header {
    padding-right: 10px; 
    padding-left: 10px;
}

#info a {
    color: var(--link-color); 
    border-color: var(--link-color);
}

#info a:hover {
    color: var(--link-hover-color); 
    border-color: var(--link-hover-color);
}

#info p {
    font-weight: lighter; 
    font-size: 12px; 
    line-height: 1.5em;
}

#toolSearch {
    margin: 19px 4px; 
    border: none;
    border-bottom: 2px solid var(--static-color); 
    background-color: transparent; 
    padding: 0px;
    font-family: var(--main-font); 
    color: #acacac; 
    font-size: 25px; 
    height: 30px; 
    width: 90%;
    text-align: center;
}

.price-check-button { 
    color: #444;
    background-color: #EEE;
    display: block; 
    font-size: 26px; 
    text-decoration: none;
    padding: 10px 0; 
    text-align: center; 
    width: 100%;
    cursor: pointer; 
    font-weight: 600;
    border: none;
}

.price-check-button:hover {
    background: #444; 
    color: #EEE;
    text-decoration: none;
}

#priceCalc {
    padding: 0px;
    border: none;
    border-bottom: 2px solid var(--static-color); 
    background-color: transparent; 
    margin: 100px auto;
    font-family: var(--main-font); 
    color: #acacac; 
    font-size: 25px; 
    height: 30px; 
    width: 100%;
    text-align: center;
}

#priceDisplay {
    margin: 0px 10px;
    display: block; 
    font-size: 22px; 
    padding: 1px 10px; 
    text-align: center;  
    font-weight: 500;
    background: #444; 
    color: #EEE;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.sml-button {
    cursor: pointer;
    padding: 5px 7px; 
    background-color: var(--static-color); 
    font-weight: 700; 
    font-size: 12px;
    text-transform: uppercase; 
    letter-spacing: .1em; 
    text-align: center; 
    color: #fff;
}

.sml-button:hover {
    opacity: .75;
}

.button-pressed {
    background: #55b6ff;
}

/* #0087ff blue
   #0087ff; green */

#tools {
    -webkit-column-count:1; 
    -webkit-column-gap : 16px; 
    -webkit-column-width: 250px; 
    -moz-column-count:1;
    -moz-column-gap : 16px; 
    -moz-column-width: 250px;
}

.tool-box { 
    background: #EEE; 
    color: #444;
    padding: 12px; 
    margin-bottom: 16px; 
    box-sizing: border-box;
    -mox-box-sizing:border-box; 
    -webkit-column-break-inside:avoid; 
    -moz-column-break-inside:avoid;
    display: table; 
    width: 100%;
}

.tool-box a {
    border-color: #fff;
}

.tool-box:nth-child(1) {
    margin-top: 0;
}

.tool-box-tool { 
    display: block; 
    font-size: 26px; 
    padding: 10px 0; 
    text-align: center; 
    width: 100%;
    cursor: pointer; 
    font-weight: 600;
}

.tool-box:hover {
    background: #444; 
    color: #EEE;
}

.tool-box ul {
    list-style: none; 
    margin: 20px 0px 0px 0px; 
    padding: 0px;
}

.tool-box li {
    margin: 10px 0px;
}

.tool-box-bottom {
    display: none; 
    width: 100%;
}

.selected-tool {
    background: #444; 
    color: #EEE;
}

a.imglink {
    border: none;
}

.hidden {
    display: none;
}

.author {
    font-weight: normal;
    font-size: 70%;
    color: #777;
}

.lighter {
    font-weight: lighter;
}

.heavier {
    font-size: 110%; 
    font-weight: 600;
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license
*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }

    25%, 75% {
      opacity: 0;
    }
}

@keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }

    25%, 75% {
      opacity: 0;
    }
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 1024px) {
  .span1 {max-width: 100%;}
}

/* NAVBAR */

.navbar-custom {
    margin-bottom: 0;
    padding: 0;
    border: none;
    background-color: #555;
}
/*
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: none;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
  color: white;
}
*/
